@inherits ProfilePictureBase
<div class="profile">
    <div class="profile-bg">
        <img class="img-responsive" src="_content/Training.Gill.BlazorServer/images/profilePicture.jpg" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive circle account-photo" src="_content/Training.Gill.BlazorServer/images/profilePicture.jpg" />
        <div style="font-weight:bold;">@ChildContent</div>
    </div>
</div>